In [34]:
# 1.1 Read data
import pandas as pd
import numpy as np
forest_fires = pd.read_csv("forestfires.csv")

In [4]:
forest_fires.head()

   X  Y month  day  temp  wind  rain  area
0  7  5   mar  fri   8.2   6.7   0.0   NaN
1  7  4   oct  tue  18.0   0.9   0.0   NaN
2  7  4   oct  sat  14.6   1.3   0.0   NaN
3  8  6   mar  fri   8.3   4.0   0.2   NaN
4  8  6   mar  sun  11.4   1.8   0.0   NaN

In [17]:
forest_fires.describe()

                X           Y        temp        wind        rain         area
count  517.000000  517.000000  515.000000  516.000000  517.000000   379.000000
mean     4.669246    4.299807   18.904272    4.019380    0.021663    17.525198
std      2.313778    1.229900    5.801947    1.792934    0.295959    73.818628
min      1.000000    2.000000    2.200000    0.400000    0.000000     0.000000
25%      3.000000    4.000000   15.550000    2.700000    0.000000     0.000000
50%      4.000000    4.000000   19.300000    4.000000    0.000000     2.570000
75%      7.000000    5.000000   22.800000    4.900000    0.000000     9.985000
max      9.000000    9.000000   33.300000    9.400000    6.400000  1090.840000

In [18]:
forest_fires.var()

X          5.353568
Y          1.512655
temp      33.662589
wind       3.214614
rain       0.087592
area    5449.189787
dtype: float64

In [27]:
# 1.2 Missing data
forest_fires.isna().sum()
# temp, wind and area have NAs.

X          0
Y          0
month      0
day        0
temp       2
wind       1
rain       0
area     138
dtype: int64

In [35]:
forest_fires["area"] = forest_fires["area"].fillna(0)

In [36]:
forest_fires.isna().sum()

X        0
Y        0
month    0
day      0
temp     2
wind     1
rain     0
area     0
dtype: int64

In [53]:
forest_fires = forest_fires.dropna()

In [52]:
forest_fires.isna().sum()

X        0
Y        0
month    0
day      0
temp     0
wind     0
rain     0
area     0
dtype: int64

In [57]:
# 1.3 Using the “Verbs”
# 1.3.1 Select
forest_fires = forest_fires.drop(["X", "Y"], axis=1)

In [60]:
# 1.3.2 Arrange
forest_fires = forest_fires.sort_values("area", ascending = False)

In [63]:
# 1.3.3 Filter
forest_fires = forest_fires[forest_fires["area"] != 0]

In [70]:
# 1.3.4 Mutate
if forest_fires['rain'] == 0:
    forest_fires['is_rain'] = False
else:
    forest_fires['is_rain'] = True

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().